body {
	color: #3d4449;
	font-family: 'Noto Sans KR', "Roboto Slab", serif;
}

#wrapper {
	width: 100%;
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	display: -moz-flex;
	min-height: 100vh;
}

#main {
	flex-grow: 1;
	-ms-flex-grow: 1;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-shrink: 1;
	-ms-flex-shrink: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	padding: 0 4em 0.1em 4em;
}